<main>
  <section class="command mat-elevation-z6">
    <nav>
      <button mat-mini-fab color="primary" aria-label="up">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button aria-label="up">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button mat-icon-button aria-label="up">
        <mat-icon>expand_more</mat-icon>
      </button>
      <button mat-icon-button aria-label="up">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="up">
        <mat-icon>print</mat-icon>
      </button>
      <button mat-icon-button aria-label="up">
        <mat-icon>more_vert</mat-icon>
      </button>
    </nav>
  </section>
  <section class="title">
    <h1>Sans titre</h1>
    <button>
      <mat-icon [inline]="true">edit</mat-icon>
    </button>
  </section>
  <section class="content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore mollitia,
      natus sapiente, hic ea nemo alias sit laudantium laboriosam excepturi quas
      voluptas quaerat sed consequatur optio corrupti ratione incidunt
      voluptatibus.
    </p>
  </section>
</main>
