<main>
  <section class="command mat-elevation-z3">
    <nav>
      <button mat-mini-fab color="primary" aria-label="up" routerLink="form">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button aria-label="up">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button mat-icon-button aria-label="up">
        <mat-icon>expand_more</mat-icon>
      </button>
      <button mat-icon-button aria-label="up">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="up">
        <mat-icon>print</mat-icon>
      </button>
      <button mat-icon-button aria-label="up" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </nav>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </section>
  <section class="title">
    <h1>Sans titre</h1>
    <button mat-icon-button aria-label="up">
      <mat-icon [inline]="true">edit</mat-icon>
    </button>
  </section>
  <section class="content">
    <div class="arrow">
      <button mat-icon-button aria-label="previous">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <header>
      <section class="year">
        <span>2020</span>
      </section>
      <section class="week">
        <span *ngFor="let weekNbr of [10, 11, 12, 13, 14, 15, 16]">
          {{ weekNbr }}
        </span>
      </section>
      <section class="task" *ngFor="let t of tasks">
        <div class="bar">
          <span *ngFor="let sel of t.selected" [class.selected]="sel"></span>
        </div>
        <div class="name">
          {{ t.name }}
        </div>
      </section>
    </header>
    <div class="arrow">
      <button mat-icon-button aria-label="next">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </section>
</main>
