/* You can add global styles to this file, and also import other style files */

// lock orientation
// https://css-tricks.com/snippets/css/orientation-lock/
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
// end lock orientation

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main > section {
  padding: 0 0.5em;
}
